@{
    ViewBag.Title = "";
}
<div class="control-calidad">
    <article class="bg-url-1 ">
        <div class="bg-light-black px-2">
            <div class="">
                <div class="welcome-red">
                    <h3 class="sub-title text-white text-shadow-black">
                        Realizar búsqueda
                    </h3>
                    <p class="welcome-sub-underline">
                    </p>
                    <p class="welcome-underline">

                    </p>
                </div>
                <form role="form" data-toggle="validator" id="form-search">
                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-6 col-lg-3">
                            <label class="col-form-label text-white text-shadow-black" for="end-date">Campaña</label>
                            <select class="form-control form-control-sm selectpicker" data-live-search="true" id="bell" name="bell" data-size="5" required></select>
                            <p class="text-danger" id="error-bell"></p>
                        </div>

                        <div class="form-group col-sm-12 col-md-6 col-lg-3">
                            <label class="col-form-label text-white text-shadow-black" for="end-date">N° PackingList</label>
                            <input class="form-control form-control-sm" type="text" name="nro-packing-list" id="nro-packing-list"/>
                            <p class="text-danger" id="error-nro-packing-list"></p>
                        </div>

                        <div class="form-group col-sm-6 col-md-6 col-lg-2">
                            <label class="col-form-label text-white text-shadow-black" for="start-date">Fecha Inicial</label>
                            <input class="form-control form-control-sm" type="date" name="start-date" id="start-date" required />
                            <p class="text-danger" id="error-start-date"></p>
                        </div>
                        <div class="form-group col-sm-6 col-md-6 col-lg-2">
                            <label class="col-form-label text-white text-shadow-black" for="end-date">Fecha Final</label>
                            <input class="form-control form-control-sm" type="date" name="end-date" id="end-date" required />
                            <p class="text-danger" id="error-end-date"></p>
                        </div>

                        <div class="form-group col-sm-12 col-md-6 col-lg-2">
                            <p class="text-white text-shadow-black text-center">
                                <label class="col-form-label" for="search">
                                    Haz click aquí
                                </label>
                            </p>
                            <input class="form-control form-control-sm bg-light-green text-white text-shadow-black" type="submit" name="search" id="search" value="Buscar" />
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </article>
    <div class="row">
        <div class="packing-lists col-sm-12 col-md-4 col-lg-3 border-right border-light">
            <div class="packing-lists-header bg-danger border-bottom border-danger">
                <h5 class="text-center text-white text-shadow-black">
                    <span class="icon-book2"></span> Lista de PackingList
                </h5>
            </div>
            <div>
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-fixed">
                        <thead class="bg-white">
                            <tr class="d-flex small">
                                <th class="col-2 text-center">#</th>
                                <th class="col-6 text-left">N° PackingList</th>
                                <th class="col-4 text-center"> Detalle</th>
                            </tr>
                        </thead>
                        <tbody id="embark-body">

                        </tbody>
                    </table>
                </div>
                <ul class="container-modal" id="embark-details">
                   
                </ul>
            </div>
        </div>
        <div class="documents col-sm-12 col-md-8 col-lg-9">
            <div class="documents-header bg-white border-bottom border-secondary">
                <h5 class="text-left">
                    Lista de Documentos
                </h5>
            </div>
            <div>
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-fixed">
                        <thead class="bg-white">
                            <tr class="d-flex small">
                                <th class="col-1 text-center">#</th>
                                <th class="col-4 text-left">Nombre</th>
                                <th class="col-4 text-left">Tipo Documento</th>
                                <th class="col-1 text-left">Tamaño</th>
                                <th class="col-2 text-center">Descargar</th>
                            </tr>
                        </thead>
                        <tbody id="embark-documents-body">
                            @*<tr class="d-flex small text-hover">
                                <td class="col-1 text-center">1</td>
                                <td class="col-4 text-left d-flex align-items-center">
                                    <img src="~/Medias/images/ico/PDF.ico" width="19" height="19" />
                                    <p class="text-left px-2">
                                        Agricola Andrea 1
                                    </p>
                                </td>
                                <td class="col-4 text-left">mdo</td>
                                <td class="col-1 text-left">3 M.B.</td>
                                <td class="col-2 text-center">
                                    <a class="icon-download2 font-weight-bold">

                                    </a>
                                </td>
                            </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {

    <script src="~/Scripts/index.js"></script>
    <script src="~/Scripts/utils/utils.js"></script>
    <script type="text/javascript">
        $(document).ready(($) => {
            //Icons Server Local
            var WordIcon = "@Url.Content("~/Medias/images/ico/Word.ico")";
            var ExcelIcon = "@Url.Content("~/Medias/images/ico/Excel.ico")";
            var PowerPointIcon = "@Url.Content("~/Medias/images/ico/PowerPoint.ico")";
            var PDFIcon = "@Url.Content("~/Medias/images/ico/PDF.ico")";
            var TxtIcon = "@Url.Content("~/Medias/images/ico/Bloc.ico")";
            var WinRarIcon = "@Url.Content("~/Medias/images/ico/WinRar.ico")";
            var EmbarkIcon = "@Url.Content("~/Medias/images/jpg/Embark-1.jpg")";
            //Date Default
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            if (dd < 10) { dd = `0${dd}` }
            if (mm < 10) { mm = `0${mm}` }

            today = `${yyyy}-${mm}-${dd}`;

            $(`#start-date`).val("2018-01-01");
            $(`#end-date`).val(today);

            //Load Campaña
            axios.get(`${URLSERVER}/SCECampana/Index`, {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                }
            })
            .then(response => {
                if (response.data.length > 0) {
                    response.data.map((item, index) => {
                        option = `<option data-tokens=${item.IdCampana} value=${item.IdCampana}> ${item.Descripcion}</option>`;
                        $(`#bell`).append(option);
                    })
                }
                else {

                }
            })
            .catch(error => {
                console.log(error);
            });

            //Click Buscar
            $("#form-search").submit(e => {
                e.preventDefault();
                //Get Value
                let sd = $(`#start-date`).val();
                let ed = $(`#end-date`).val();
                let IdCampana = $(`#bell`).val();
                let IdSucursal = "002";
                let Cliente = "";
                let NroPackingList = $(`#nro-packing-list`).val();
                //Value to JSON
                let data = JSON.stringify({
                    FechaInicio: sd,
                    FechaFinal: ed,
                    IdCampana: IdCampana,
                    IdSucursal: IdSucursal,
                    Cliente: Cliente,
                    NroPackingList: NroPackingList
                })
                //Get - Data
                axios.get(`${URLSERVER}/SCEEmbarque/Index`, {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    },
                    params: {
                        FechaInicio: JSON.parse(data).FechaInicio,
                        FechaFinal: JSON.parse(data).FechaFinal,
                        IdCampana: JSON.parse(data).IdCampana,
                        IdSucursal: JSON.parse(data).IdSucursal,
                        Cliente: JSON.parse(data).Cliente,
                        NroPackingList: JSON.parse(data).NroPackingList
                    }
                })
                .then(response => {
                    
                    if (response.data.length > 0) {
                        $(`#embark-body`).empty();
                        $(`#embark-details`).empty();
                        response.data.map((item, index) => {

                            let fechaEmbarque = formatDateTimeCSharpToJavascript(item.FechaEmbarque).split("T")[0];
                            let fechaArribo = formatDateTimeCSharpToJavascript(item.FechaArribo).split("T")[0];
                            let tr = $(`
                                <tr class="d-flex small text-hover" id="${item.NroPackingList}">
                                    <td class="col-2 text-center">${index + 1}</td>
                                    <td class="col-6 text-left">${item.NroPackingList}</td>
                                    <td class="col-4 text-center">
                                        <a class="icon-eye2 font-weight-bold" data-toggle="modal" data-target="#modal-${index+1}">

                                        </a>
                                    </td>
                                </tr>`);

                            let li = $(`
                                <li class="modal fade" id="modal-${index+1}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header d-flex justify-content-center align-content-center bg-dark-green border-bottom border-secondary">
                                                <h5 class="modal-title text-center text-white text-shadow-black" id="exampleModalLongTitle">
                                                    N° PackingList: ${item.NroPackingList}
                                                </h5>
                                            </div>
                                            <div class="modal-body border-bottom border-secondary">
                                                <div class="embark d-flex justify-content-between align-items-center">
                                                    <figure class="embark-avatar border-right border-secondary">
                                                        <img src="${EmbarkIcon}" />
                                                    </figure>
                                                    <ul class="embark-detail">
                                                        <li>
                                                            <p class="font-weight-bold"><span class="icon-calendar1"></span><span class="px-2">Fecha de Embarque:</span></p>
                                                            <p class="text-black">${fechaEmbarque}</p>
                                                        </li>
                                                        <li>
                                                            <p class="font-weight-bold"><span class="icon-calendar1"></span><span class="px-2">Fecha de Arribo:</span></p>
                                                            <p class="text-black">${fechaArribo}</p>
                                                        </li>
                                                        <li>
                                                            <p class="font-weight-bold"> <span class="icon-database1"></span><span class="px-2">Cantidad:</span></p>
                                                            <p class="text-black">${item.Cantidad}</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger box-shadow-black" data-dismiss="modal">Salir de la vista detalle</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            `);
                            $(`#embark-details`).append(li);

                            tr.bind("click", (e) => {
                                let NroPackingList = $(e.target).parent().attr("id");
                                let data = JSON.stringify({
                                    NroPackingList: NroPackingList
                                });

                                //Get Documents
                                axios.get(`${URLSERVER}/SCEInstruccionDocumento/GetByNroPackingList`, {
                                    headers: {
                                        'Accept': 'application/json',
                                        'Content-Type': 'application/json',
                                    },
                                    params: {
                                        NroPackingList: JSON.parse(data).NroPackingList
                                    }
                                })
                                .then(response => {
                                    $(`#embark-documents-body`).empty();
                                    if (response.data.length > 0) {
                                        response.data.map((item, index) => {
                                            let extension = item.NombreArchivo.split(".").pop();

                                            let icon = null;
                                            //Get Icon File
                                            if (extension === "docx" || extension === "doc") {
                                                icon = WordIcon;
                                            }
                                            else if (extension === "xlsx" || extension === "xls") {
                                                icon = ExcelIcon;
                                            }
                                            else if (extension === "pptx" || extension === "ppt") {
                                                icon = PowerPointIcon;
                                            }
                                            else if (extension === "pdf") {
                                                icon = PDFIcon;
                                            }
                                            else if (extension === "txt") {
                                                icon = TxtIcon;
                                            }
                                            else if (extension === "rar") {
                                                icon = WinRarIcon;
                                            }
                                            let tr = $(`
                                                <tr class="d-flex small text-hover" id="${item.IdDocumento}">
                                                    <td class="col-1 text-center">${index + 1}</td>
                                                    <td class="col-4 text-left d-flex align-items-center"  id="file-name">
                                                        <img src="${icon}" width="19" height="19" />
                                                        <p class="text-left px-2">
                                                            ${item.NombreArchivo}
                                                        </p>
                                                    </td>
                                                    <td class="col-4 text-left">${item.SCETipoDocumento.Descripcion}</td>
                                                    <td class="col-1 text-left">${item.Tamano}</td>
                                                    <td class="col-2 text-center">
                                                        <a class="icon-download2 font-weight-bold" id="${item.SCEArchivo.IdArchivo}">
                                                         
                                                        </a>
                                                    </td>
                                                </tr>`);
                                            //Download File
                                            tr.children("td").children("a").bind("click", (e) => {
                                                e.preventDefault();
   
                                                let IdArchivo = e.target.id;
                                                let data = JSON.stringify({
                                                    IdArchivo: IdArchivo
                                                });

                                                axios.get(`${URLSERVER}/SCEArchivo/GetById`, {
                                                    headers: {
                                                        'Accept': 'application/json',
                                                        'Content-Type': 'application/json',
                                                    },
                                                    params: {
                                                        IdArchivo: JSON.parse(data).IdArchivo
                                                    }
                                                })
                                                .then(response => {
                                                    let filename = $(e.target).parent().parent().children("#file-name").children("p").text().trim();
                                                    let byteArray = new Uint8Array(response.data.DocumentoData);
                                                    let a = window.document.createElement('a');
                                                    a.href = URL.createObjectURL(new Blob([byteArray], { type: 'application/octet-stream' }));

                                                    a.download = filename;
                                                    document.body.appendChild(a)
                                                    a.click();
                                                    // Remove anchor from body
                                                    document.body.removeChild(a)
                                                })
                                                .catch(error => {
                                                    console.log(error);
                                                });
                                            })
                                            $(`#embark-documents-body`).append(tr);
                                        })

                                    }
                                    else {

                                    }
                                })
                                .catch(error => {
                                    console.log(error);
                                });
                            });
                            $(`#embark-body`).append(tr);
                        })
                    }
                    else {

                    }
                })
                .catch(error => {
                    console.log(error);
                });
            });
        });
    </script>
}